sudo: required
language: generic

services:
  - docker

before_install:
  - docker build -t cheehon/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true cheehon/docker-react npm run test
