name: Deploy Frontend
on:
  push:
    branches:
      - main
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.cheehon }}
          password: ${{ secrets.dckr_pat_Zkt60oqtL3Y3vDsSyEBMdEjVfDo }}
      - run: docker build -t cheehon/docker-react -f Dockerfile.dev .
      - run: docker run -e CI=true cheehon/docker-react npm test
