name: Deploy Frontend
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.CHEEHON }}
          password: ${{ secrets.Sw0rdf!sh }}
      - run: docker build -t cheehon/docker-react -f Dockerfile.dev .
      - run: docker run -e CI=true cheehon/docker-react npm test
